@font-face {
  font-family: "UTM Soraya";
  src: url('file/00169-utm-soraya-webfont.woff2') format('woff2'),
       url('file/00169-utm-soraya-webfont.woff') format('woff'),
       url('file/00169-UTM-Soraya.ttf') format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;

}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #E0F2F4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: "UTM Soraya";
  font-optical-sizing: auto;
  font-weight: 550;
  color: #deb625;
  font-size: 48px;
  font-style: normal;
}

h2 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  color: #006970;
  font-size: 32px;
  font-style: normal;
}

h3 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  color: #006970;
  font-size: 24px;
  font-style: normal;
}

p{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.row {
  margin-top: 50px;
}

.aGap{
  margin-top: 10%;
}

.tag {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  color: #006970;
  background: linear-gradient(to right, #c7e8ff, #b3e5c6);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  padding: 5px 20px;
  border-radius: 20px;
}

.divtag {
  display: flex;
  gap: 10px; /* Space between the tags */
  align-items: center; /* Align vertically */
  height: 35px;
}

.image-container {
  width: 100%; /* Set the width */
  aspect-ratio: 1 / 1; /* Ensures it stays square */
  overflow: hidden;
  margin-bottom: 18px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the square */
}

/* Navigation bar */
nav{
  display: flex;
  align-items: center;
  justify-content: center; /* Center the navbar */
  padding: 10px;
  position: fixed;
  top: 3%;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav ul{
  background-color: rgba(255, 255, 255, 0.75); /* Transparent white background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  list-style: none;
}

nav ul li{
  margin-top: 10px;
}

nav img{
  margin-left: 20px;
  margin-right: 20px;
}

nav ul li a{
  font-family: "UTM Soraya";
  font-size: 28px;
  font-weight: 500;
  color: #deb625;
  text-decoration: none;
  transition: color 0.5s ease;
}

nav ul li a:hover {
    color: #006970; /* Highlight color */
}

.btn {
  font-family: "Montserrat", serif;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 8px;
  border-width: 3px;
  color: #006970;
  border-color: #006970;
}

.btn-custom:hover {
  color: #deb625;
  border-color: #006970;
  background-color: #006970;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.btn:active {
  color: #deb625;
  border-color: #006970;
  background-color: #006970;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* Typewrite greeting */
.greetingtransition {
  font-family: "UTM Soraya";
  color: #006970;
  font-size: 64px;
  font-weight: bold;
  overflow: hidden;
  height: 90px; /* Matches the height of the text */
  display: inline-block;
  align-items: center;
  white-space: nowrap; /* Prevent text wrapping */
  transition: all 0.3s ease; /* Smooth transitions for visual appeal */
}

/* Marquee animation styles */
.marquee {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
}

.marquee-content {
    display: flex;
    animation: marquee 20s linear infinite;
}

.marquee-content img {
    height: 30px;
    margin: 0px;
}

@keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

@keyframes wiggle {
  0% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }
}

/* Footer */
.foot{
    background-color: #006970;
    margin-top: 0;
}

.foot .container {
  margin-top: 80px;
}

img.symBehance,
img.symWebsite,
img.symMail,
img.symPhone {
  width: 60px;
}

.iconfoot{
  text-align: right;
}

/* Click overlay */
.trigger {
  display: inline-block;
  padding: 40px 40px;
  background-color: white;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  border: #E0F2F4;
  border-radius: 20px;
  height: fit-content;
}

.trigger:hover {
  transform: translateY(-10px);
}

  /* Overlay styles */
  .overlay1, 
  .overlay2, 
  .overlay3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 1100;
  }

.overlay-content {
  background-color: #E0F2F4;
  width: 80%;
  height: 80%;
  padding: 40px; /* Adds padding for better content spacing */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optional: adds some shadow for better visuals */
  overflow-y: scroll;
  }

/* Close icon (X) styles */
.close-icon {
  font-size: 50px;
  color: #deb625;
  cursor: pointer;
  align-items: right;
  position: absolute;
  top: 4%; /* Position it 10px from the top */
  right: 4%; /* Position it 10px from the right */
}

.close-icon:hover {
  color: #E0F2F4;
}

.holder {
  margin-top: 10px;
}

.holder p {
  font-size: 16px;
}

.holder h4 {
  color: #006970;
  font-size: 20px;
}

/* Custom button carousel */
.carousel-control-prev, 
.carousel-control-next {
  border: none;  /* Remove the default border */
  width: 20%;
}

.responsive-iframe-container {
  position: relative;
  width: 100%; /* Ensures the container is responsive */
  padding-bottom: 56.25%; /* 16:9 ratio (9/16 = 0.5625 -> 56.25%) */
  height: 0; /* Height is set to 0 to maintain aspect ratio */
  overflow: hidden;
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*work*/
/* Styling the tracker and thumbnails */
.carousel-track-wrapper, .carousel-track-wrapper2, .carousel-track-wrapper3 {
  overflow: hidden;
  margin-top: 15px;
  position: relative;
}

.carousel-track, .carousel-track2, .carousel-track3 {
  display: flex;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
}

.track-thumbnail, .track-thumbnail2, .track-thumbnail3 {
  flex: 0 0 auto;
  cursor: pointer;
}

.track-thumbnail img, .track-thumbnail2 img, .track-thumbnail3 img {
  width: 160px;
  height: 90px;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.track-thumbnail img.active-thumb, .track-thumbnail2 img.active-thumb, .track-thumbnail3 img.active-thumb {
  border-color: #006970;
}

/* Hide scrollbar */
.carousel-track::-webkit-scrollbar, .carousel-track2::-webkit-scrollbar, .carousel-track3::-webkit-scrollbar {
  display: none;
}

.carousel-track, .carousel-track2, .carousel-track3 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 1600px) {
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
  }
  .tag {
    font-size: 14px;
    padding: 5px 16px;
    border-radius: 20px;
  }

  .holder p {
    font-size: 14px;
  }
  
  .holder h4 {
    font-size: 16px;
  }

  .btn-custom {
    font-size: 14px; /* Smaller text size */
    padding: 8px 16px; /* Reduced padding */
  }
}

@media (max-width: 1200px) {
  h3 {
    font-size: 16px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 6px;
  }

  .tag {
    font-size: 12px;
    padding: 5px 16px;
    border-radius: 20px;
  }

  .divtag {
    display: flex;
    gap: 5px; /* Space between the tags */
  }

  .greetingtransition {
    height: 70px;
    font-size: 48px;
  }

  .holder p {
    font-size: 12px;
  }
  
  .holder h4 {
    font-size: 16px;
  }

  .btn-custom {
    font-size: 14px; /* Smaller text size */
    padding: 8px 16px; /* Reduced padding */
  }
}

@media (max-width: 750px) {
  h1 {
    font-size: 40px; /* Slightly smaller on medium screens */
  }

  h3 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  .overlay-content {
    padding: 10px;
  }

  .tag {
    font-size: 14px;
  }

  .divtag {
    display: flex;
    gap: 5px; /* Space between the tags */
  }

  .greetingtransition {
    height: 70px;
    font-size: 54px;
  }

  .holder p {
    font-size: 14px;
  }
  
  .holder h4 {
    font-size: 16px;
  }

  .btn-custom {
    font-size: 14px; /* Smaller text size */
    padding: 8px 16px; /* Reduced padding */
  }

  nav{
    top: 84%;
  }

  .foot .container{
    margin-bottom: 50px;
  }

  .iconfoot{
    margin-top: 10px;
    text-align: left;

  }
  .carousel-track-wrapper, .carousel-track-wrapper2, .carousel-track-wrapper3 {
    margin-top: 10px;
  }
  
  .carousel-track, .carousel-track2, .carousel-track3 {
    display: flex;
    gap: 5px;
    transition: transform 0.3s ease-in-out;
  }

  .track-thumbnail img, .track-thumbnail2 img, .track-thumbnail3 img {
    width: 64px;
    height: 36px;
  }
}
